@import "../../../common/scss/mixins";

.itemBlock {
  background-color: #fcfcf9;
  //color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 3px auto;
  opacity: 1;
  box-shadow: 0 0 7px 5px rgba(0, 0, 0, .2);
  animation: fade-in 2s forwards;
  //transition: all 3s linear;

  .age {
    width: 25%;
    @include flexCenter();
  }

  .profileInfo {
    width: 25%;
    display: flex;
    justify-content: left;
    align-items: center;

    img {
      border-radius: 50%;
      width: 50px;

    }

    span {

    }
  }

  .age {

  }

  .phone {
    width: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .favorite {
    width: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    img {
      cursor: pointer;
      width: 10%;
    }
  }
}

@keyframes load {
  0% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    transform: translateX(100px);
    opacity: 0;
  }
}

.fadeIn {
  opacity: 0;
  transition: all 3s linear;
}

.fadeOut {
    animation: fade-out 1s forwards;;
}