
.cartBlock {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 49%;
  min-height: 30vh;
  position: relative;
  box-shadow: 0 0 7px 5px rgba(0, 0, 0, .2);
  animation: fade-in 2s forwards;

  @media screen and (max-width: 720px) {
    width: 100%;
    margin-bottom: 7px;

  }

  div {
    video {
      outline: none;
      width: 100%;
      height: 100%;
    }
  }

  .wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    @media screen and (max-width: 720px) {
      height: 300px;
    }

    .profileInfo {
      display: flex;
      justify-content: space-between;

      div {
        display: flex;

        img {
          border-radius: 50%;
          width: 50px;
        }

        span {
          margin-left: 20px;
          font-size: 18px;
          font-family: monospace;
          white-space: nowrap;
          overflow: hidden;

        }
      }

      .star {
        cursor: pointer;
        width: 5%;
      }
    }

    .age {

    }

    .phone {

    }

    .phrase {
      margin-right: 25%;
    }
  }
}

.fadeIn {
  opacity: 0;
  transition: all 3s linear;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
