
.viewBlock {
  display: flex;
  flex-direction: column;
  //border: 1px solid;
  width: 30%;

  .informationBlock {
    display: flex;
    justify-content: space-between;

    div {
      cursor: pointer;
      width: 25px;
    }

    .en {
      background-image: url("../../../assets/united-kingdom.svg");
      transition: all .3s linear;
    }

    .ru {
      background-image: url("../../../assets/russia.svg");
      transition: all .3s linear;
    }
  }

  .btnBlock {
    display: flex;

    button {
      flex: 1;
      padding: 32px;
      transition: all .3s linear;
      cursor: pointer;
    }

    .active {
      cursor: auto !important;
      opacity: .5;
      pointer-events: none;
    }
  }

}