@import "src/common/scss/mixins";

.sortBlock {
  display: flex;
  flex-direction: column;
  width: 50%;
  @media screen and (max-width: 520px) {
    width: 100%;
  }

  .btnBlock1 {
    display: flex;
    @include btnMargin(520px ,15px);
  }

  .btnBlock2 {
    display: flex;
    @include btnMargin(520px, 15px);
  }
}

button {
  margin-bottom: 15px;
  position: relative;
  background: #15d798;
  border-radius: 3px 3px 7px 7px;
  padding: 2px 10px 8px;
  color: #ffffff;
  font: normal bold 18px/1 "Lobster Two", cursive;
  text-align: center;
  text-shadow: 1px 1px #000000;
  cursor: pointer;
  box-shadow: 0 5px 0 #0c694b;
  border: none;
  flex: 1;
  transition: background-color 1s linear 0s, top .2s linear 0s, box-shadow .2s linear 0s;
  &:not(:last-child){
    margin-right: 15px;
  }

  &:hover {
    transition: background-color 1s linear 0s, top .2s linear 0s, box-shadow .2s linear 0s;
    top: 2px;
    background-color: #2deeaf;
    box-shadow: 0 3px 0 #0c694b;
  }
}

.active {
  cursor: auto !important;
  opacity: .5;
  pointer-events: none;
}